# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/

# Database files
*.db
*.sqlite3

# Environment variables & secrets
.env
.env.*

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db